
    <h3>Members</h3>
    {{#each members}}
        <div class="card bg-light text-dark">
        <div class="card-body">
            <b>Name: </b> {{firstName}} {{lastName}} <br> <b>Email:</b> {{email}} <br> <b>Height:</b> {{height}}
            <br>
            <hr>
            <a href="/user/{{id}}/goals"><button class="btn btn-primary"> Add Goals </button></a>
            <a  href="/deleteUser/{{id}}"><button class="btn btn-danger">Delete Member</button></a>
        </div>
            <a href="/assessment/{{id}}" class="ui icon button">
                <i style="color: cornflowerblue">View Assessments</i>
            </a>

        </div>
        <hr>
    {{/each}}

