
<h3>Goals</h3>
<hr>

<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Date</th>
        <th scope="col">Weight</th>
        <th scope="col">Chest</th>
        <th scope="col">Thigh</th>
        <th scope="col">Upper Arm</th>
        <th scope="col">Waist</th>
        <th scope="col">Hips</th>
        <th scope="col">Status</th>

    </tr>
    </thead>
    <tbody>

    {{#each user.goals}}
        <tr>
            <td>{{date}}</td>
            <td>{{measurements.weight}}</td>
            <td>{{measurements.chest}}</td>
            <td>{{measurements.thigh}}</td>
            <td>{{measurements.upper_arm}}</td>
            <td>{{measurements.waist}}</td>
            <td>{{measurements.hips}}</td>
            <td>
                {{status}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

