{{> menu id="dashboard"}}

{{#if type.member }}

        <input type="hidden" id="message" value="{{message}}">
        <script>
            var alerted = localStorage.getItem('alerted') || '';
            if (alerted !== 'yes') {
                var message = document.getElementById("message");
                JSAlert.alert(message.value);
                localStorage.setItem('alerted','yes');
            }
        </script>

    <section class="ui segment">
    <div class="row" style="padding: 2%">
        <div class="col-md-3">
            <i class="fa fa-user fa-3x" style="margin-left: 10%"></i>
            <br>
            <p>{{user.firstName}} {{user.lastName}}</p>
        </div>
        <div class="col-md-3">
            <i class="fa fa-tachometer fa-3x" style="margin-left: 25%; color: red"></i>
            <br>
            <p>IDEAL WEIGHT INDICATOR</p>
        </div>
        <div class="col-md-3">

            <i class="fa fa-heartbeat fa-3x" > {{bmi}}</i>
            <br>
            <p style="margin-left: 25%">BMI</p>

        </div>
        <div class="col-md-3">
            <i class="fa fa-user-md fa-3x" style="margin-left: 25%"></i>
            <br>
            <p>{{bmi_category}}</p>
        </div>
    </div>
    <hr>
    <a href="/user/{{user.id}}/goals"><button class="btn btn-primary"> Add Goals </button></a>
    <hr>
    {{> addAssessment}}
    {{> listAssessments}}
</section>

{{else}}
    <section class="ui segment">
    {{> listMembers}}
    </section>

{{/if}}
